body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(224, 214, 246);
}
.card {
    position: relative;

    width: 300px;
    height: 350px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    user-select: none;
}
.immagine {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 25px;
    background-color: rgba(92, 91, 91, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}
.card:hover::before {
    opacity: 1;
}

button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    width: 25%;
    height: 10%;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    transform: translateY(-80px);
    transition: opacity 0.2s, transform 0.2s;
    transition-timing-function: ease-in;
}
.card:hover button {
    transform: translateY(0);
    opacity: 1;
}
.pulsanti {
    position: absolute;
    bottom: 10px;
    left: 30%;
    transform: translate(-50%, 100px);
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    left: 50%;
    opacity: 0;
    z-index: 3;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.card:hover .pulsanti {
    transform: translate(-50%, 0);
    opacity: 1;
}

.pulsanti i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(211, 211, 211, 0.7);
    border-radius: 50%;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

.pulsanti a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(211, 211, 211, 0.7);
    color: black;
    text-decoration: none;
}
